/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  background-color: rgba(60, 58, 58, 0.869);
  text-align: center;
}
h1 {
  color: azure;
}
.solar-sistem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.solar-sistem {
  width: 250px;
  height: 250px;
  display: in;
  align-items: center;
  justify-content: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfc;
  border-radius: 50%;
}
.eartf-orbit {
  width: 165px;
  height: 165px;
  animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 120px;
  height: 120px;
  animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 90px;
  height: 90px;
  animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(170, 26, 26);
}
